* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Positioninierung grünes Dreieck */
#green-triangle {
  /* Relative Position */
  position: relative;
  /* 200px von Default Position nach links */
  left: 200px;
  /* 100px von Default Position nach unten */
  top: 100px;
  display: inline-block;
  border-top: 350px solid transparent;
  border-bottom: 350px solid transparent;
  border-right: 350px solid greenyellow;
}

/* Positioninierung blauer Balken */
#blue-bar {
  /* Fixe Position */
  position: fixed;
  /* 50px von oberen Rand von Browserfenster */
  top: 50px;
  background-color: skyblue;
  width: 100%;
  height: 150px;
}

/* Positioninierung roter Kreis */
#red-circle {
  /* Absolute Position zu Browserfenster */
  position: absolute;
  /* 50px von rechtem Rand von Browserfenster */
  right: 50px;
  /* 50px von unterem Rand von Browserfenster */
  bottom: 50px;
  background-color: darkred;
  width: 380px;
  height: 380px;
  border-radius: 50%;
}

/* Positioninierung orangem Quadrat */
#orange-square {
  /* Position beim Scrollen zuerst unverändert,
     später scrollt Element mit */
  position: sticky;
  /* immer mind. 300px vom oberen Rand von Browserfenster
     beim Scrollen */
  top: 300px;
  z-index: 1;
  background-color: orange;
  width: 350px;
  height: 350px;
}

/* Positioninierung von kleinem Kreis und Quadrat vorbereiten */
#black-rectangle {
  /* Nötig für absolute Positionierung Kreis und Qudrat */
  position: relative;
  background-color: black;
  width: 400px;
  height: 800px;
}

/* Positioninierung kleinem gelben Kreis */
#small-yellow-circle {
  /* Absolute Position */
  position: absolute;
  /* 20px von linkem Rand von Rechteck */
  left: 20px;
  /* 40px vom unteren Rand von Rechteck */
  bottom: 40px;
  background-color: gold;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Positioninierung kleinem weissen Quadrat */
#small-white-square {
  /* Absolute Position */
  position: absolute;
  /* 60px vom rechten Rand von Rechteck */
  right: 60px;
  /* 40px vom unteren Rand von Rechteck */
  bottom: 40px;
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
}
